
body {
  font-family: 'Times New Roman', Times, serif;
}
h1, h2, h3, p {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}

a {
  font-family: 'Times New Roman', Times, serif;
}


#sec2 .swiper-container {
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: relative;
    background-color: rgb(241, 241, 241);
  }
  
  #sec2 .swiper-wrapper {
    display: flex;
    gap: 5px; 
  }
  
  #sec2 .swiper-slide {
    width: calc((100% - 3cm) / 7); 
    height: 50%;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    font-size: 12px; 
    position: relative;
    transition: transform 10s ease;
    padding: 0.5cm; 
  }
  
  #sec2 .swiper-slide1.active {
    transform: translateX(calc(-100% )); 
  }
  
  #sec2 .moving-text {
    white-space: nowrap;
  }
  
  
  /* Media query for mobile view */
  @media (max-width: 768px) {
    #sec2 .swiper-slide {
      font-size: 10px; 
      width: calc((100% - 2cm) / 3); 
      padding: 0.3cm; 
    }
  
    #sec2 .swiper-wrapper {
      gap: 3px; 
    }
  }
  
  
  /* STYLE HEADER */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #fdf8f8;
    color: rgb(34, 32, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2rem;
  }
  
  nav {
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: rgb(34, 32, 32);
    text-decoration: none;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-right: 15rem;
  }
  
  .logo-img {
    width: 170px; 
    height: auto; /
  }
  
  .search-cart {
    display: flex;
    gap: 10px;
  }
  
  .burger-menu {
    display: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  /* Media query for responsive design */
  @media (max-width: 768px) {
    nav {
      display: none; 
    }
  
    .burger-menu {
      display: block; 
      order: 1; 
    }
  
    .logo {
      order: 2; 
      margin-right: 0rem;
    }
  
    .search-cart {
      order: 3; 
    }
  }
  
  
  
  .section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .social-iconsh {
    display: flex;
    align-items: center;
  }
  
  .social-iconsh img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .slideshow {
    flex: 1;
    text-align: center;
  }
  
  .slideshow-text {
    font-size: 15px;
  }
  
  .language-currency {
    display: flex;
    align-items: center;
  }
  
  .language-selector select {
    padding: 5px;
    font-size: 16px;
  }
  
  /* Hide icons and language-currency in mobile view */
  @media (max-width: 768px) {
    .social-iconsh, .language-currency {
      display: none;
    }
  }
  
  
  
    .section1b {
      background-image: url('images/about-banner-2.png');
      background-size: cover; 
      background-position: center; 
      text-align: center;
      color: rgb(10, 10, 10);
      height: 400px; 
      width: 100%;
  }
  
  
  .section1b h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      padding-top: 8rem;
  }
  
  .section1b p {
      font-size: 1.2rem;
  }
  
  
  
  
  
  
  
  .three-columns {
      display: flex;
      justify-content: space-between;
      margin: 0 8rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
  }
  
  .three-columns .column {
      flex: 1;
      margin: 0 5px;
      text-align: center;
  }
  
   .column img {
      max-width: 90%;
      height: auto;
  }
  .social-icons {
    display: flex;
    align-items: center;
  }
  
  .social-icons img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .social-icons {
      margin-top: 20px; 
      justify-content: center;
      
  }
  
  .social-icons a {
      margin-right: 10px; 
     
  }
  
  .sec5 h1{
    text-align: center;
    margin-bottom: -3rem;
    font-size: 2rem;
    font-weight: 300; 
  }
  /* For mobile */
  @media (max-width: 768px) {
    .three-columns {
      display: block; 
      margin: 0 2rem; 
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  
    .column {
      flex: 1;
      margin: 0 auto; 
      text-align: center;
      margin-bottom: 2rem; 
    }
  
    .column img {
      max-width: 100%;
      height: auto;
    }
  
    .social-icons {
      margin-top: 20px;
    }
  
    .social-icons a {
      margin-right: 10px;
    }
  
    .sec5 h1 {
      text-align: center;
      margin-bottom: 2rem; 
      font-size: 1.5rem;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* 2 COLUMN */
  
  
  .two-column-section1 {
    display: flex;
    margin: 0 8rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .two-column-section1 .image-column {
    flex: 1; 
    padding: 20px;
    text-align: center; 
  }
  
  .two-column-section1 .image-column img {
    width: 100%; 
    height: auto; 
  }
  
  .two-column-section1 .text-column {
    flex: 1; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  
  .two-column-section1 .text-column h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 300; 
  }
  .two-column-section1 .text-column p {
    margin-bottom: 10px;
  }
  
  .two-column-section1 .text-column button {
    padding: 5px 10px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    max-width: 200px; 
    height: 50px;
    font-size: medium;
  }
  
  .two-column-section1 .text-column button:hover {
    background-color: #555;
  }
  
  /* Media query for mobile */
  @media (max-width: 768px) {
    .two-column-section1 {
        flex-direction: column; 
        margin: 0; 
        padding: 2rem 0rem; 
    }
  
    .two-column-section1 .text-column {
        padding: 0; 
        
    }
  
    .two-column-section1 .text-column h1 {
        font-size: 1.5rem; 
    }
  
    .two-column-section1 .text-column button {
        max-width: 10rem; 
        width: 100%; 
    }
    .two-column-section1 .image-column {
      padding: 20px;
      text-align: center;
  
    }
  
    .two-column-section1 .image-column img {
      min-width: 110%; 
      height: auto;
    
    }
  
    .two-column-section1 .text-column {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      margin-left: 2rem; 
     margin-top: -2rem;
    }
  }
  
  
  .section2b {
      background-image: url('images/about-banner-3.png');
      background-size: cover; 
      background-position: center;
      text-align: center;
      color: rgb(10, 10, 10);
      height: 550px;
      width: 100%;
      
  }
  
  .section2b h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      padding-top: 18rem;
      
  }
  
  .section2b p {
      font-size: 1.2rem;
  }
  .section2b .content{
    color: #ffffff;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  .two-column-section2 {
    display: flex;
    margin: 0 8rem; 
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .two-column-section2 .image-column {
    flex: 1;
    padding: 20px;
    text-align: center; 
  }
  
  .two-column-section2 .image-column img {
    width: 100%; 
    height: auto; 
  }
  
  .two-column-section2 .text-column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  
  .two-column-section2 .text-column h1 {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 300; 
  }
  .two-column-section2 .text-column p {
    margin-bottom: 10px;
  }
  
  .two-column-section2 .text-column button {
    padding: 5px 10px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    max-width: 200px;
    height: 50px;
    font-size: medium;
  }
  
  .two-column-section2 .text-column button:hover {
    background-color: #555;
  }
  
  /* Media query for mobile */
  @media (max-width: 768px) {
    .two-column-section2 {
        flex-direction: column; 
        margin: 0; 
        padding: 2rem 0rem; 
    }
  
    .two-column-section2 .image-column {
      padding: 20px;
      text-align: center;
      order: -1; 
    }
  
    .two-column-section2 .image-column img {
      min-width: 110%; 
      height: auto;
    }
  
    .two-column-section2 .text-column {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      margin-left: 2rem; 
      margin-top: -2rem;
    }
  }
  
  
  /* 
  about footer */
  
  /* footer style */
  .footer {
      background-color: #f1f0f0;
      color: #070707;
      padding: 20px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 2rem;
    }
    
    .footer-column {
      flex: 1;
      text-align: center;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 300px; 
    }
    
    .footer h1 {
      font-size: 16px;
      margin-bottom: 5px;
      color: #070707;
      margin-bottom: 2rem;
    }
    
    .footer-logo {
      width: 70%;
      height: 50px;
      background-color: white;
      margin-bottom: 10px;
    }
    
    .footer-label {
      font-size: 20px;
      color: #ccc;
      margin-bottom: 5px;
    }
    
    .footer-email {
      font-size: 14px;
      margin-bottom: 10px;
    }
    
    .footer-icon {
      font-size: 24px;
      color: white;
    }
    
    .footer-links {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    
    .footer-links li {
      margin-bottom: 5px;
      padding-top: 20px;
    }
    
    .footer-links a {
      color: #858484;
      text-decoration: none;
      margin-left: 7rem;
    }
    
    .footer-links a:hover {
      text-decoration: underline;
    }
    
    .email-input {
      width: 130%;
      height: 10%;
      padding: 5px;
      margin-bottom: 10px;
    }
    
    .send-button {
      padding: 5px 10px;
      background-color: #555;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
    
    .send-button:hover {
      background-color: #777;
    }
    
    .footer h2{
      color: #858484;
      margin-left: 7rem;
      text-align: center;
      font-size: medium;
    }
    /* footer 2 */
    .footer2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f9f9f9;
      padding: 10px 20px;
      border-style: solid;
      border-color: #e6e6e6;
    }
    
    .footer2 .left {
      flex: 1;
    }
    
    .footer2 .center {
      flex: 1;
      text-align: center;
    }
    
    .footer2 .right {
      flex: 1;
      text-align: right;
      justify-content: flex-end;
   
    }
    
    .footer2 select {
      margin-left: 5px;
    }
    
    .footer2 img {
      height: 20px;
      margin-left: 5px;
      display: end;
      
    }
  
    /* media responsive */

  @media (max-width: 768px) {
    .footer-column {
      flex: 100%; 
      height: auto; 
      padding: 10px 0; 
      justify-content: center;
    }
  
    .footer-logo {
      width: 50%; 
    }
  
    .footer-links a {
      margin-left: 0;
      
    }
    .footer-links h2 {
      margin-left: 0;
      
    }
  
    .email-input {
      width: 90%; 
     min-height: 2rem;
    }
    .footer2 {
      flex-direction: column; 
      text-align: center; 
    }
  
    .footer2 .left,
    .footer2 .center,
    .footer2 .right {
      flex: 100%; 
      margin-bottom: 10px; 
    }
    .footer2 .right{
      justify-content: center;
    }
  }


  
/* Styles for the four-column section */
.four-column-section1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10rem;
    margin-right: 10rem;
    
}

/* Styles for the individual columns */
.four-column-section1 .column2, .column3, .column4 {
    flex: 1;
    height: 30rem;
    margin: 0 1px; /* Adjust margin as needed */
    display: flex;
    flex-direction: column;
}

/* Styles for the content with box background */
.four-column-section1 .content2, .content3{
  background-color: rgb(233, 233, 233);
    padding: 10px; /* Add padding inside the content */
    height: 20rem;
}


.four-column-section1 .column1{
    flex: 1;
    height: 25rem;
    margin: 0 1px; 
    display: flex;
    flex-direction: column;
}
.four-column-section1 .content1{
    background-image: url('images/product-1.png'); 
    background-size: cover; 
    background-position: center; 
    height: 20rem; 
    padding: 10px; 
}

.four-column-section1 .content4 {
    background-image: url('images/Group_1124585_1.png'); 
    background-size: cover; 
    background-position: center; 
    height: 25rem; 
    padding: 10px; 
}

/* Styles for the link text */
.four-column-section1 .link-text a{
    margin-top: auto; 
    padding: 10px; 
color: #000000;
}






/* Styles for the four-column section */
.four-column-section2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10rem;
  margin-right: 10rem;
}

/* Styles for the individual columns */
.four-column-section2 .column2, .column3, .column4 {
  flex: 1;
  height: 25rem;
  margin: 0 1px; 
  display: flex;
  flex-direction: column;
}

/* Styles for the content with box background */
.four-column-section2 .content4, .content3{
  background-color: rgb(233, 233, 233);
  padding: 10px; 
  height: 20rem;
}


.four-column-section2 .column1{
  flex: 1;
  height: 25rem;
  margin: 0 1px; 
  display: flex;
  flex-direction: column;
}
.four-column-section2 .content1{
  background-image: url('images/product-1.png'); 
  background-size: cover; 
  background-position: center; 
  height: 20rem; 
  padding: 10px; 
}

.four-column-section2 .content2 {
  background-image: url('images/product-8.png'); 
  background-size: cover; 
  background-position: center; 
  height: 20rem; 
  padding: 10px; 
}

/* Styles for the link text */
.four-column-section2 .link-text a{
  margin-top: auto; 
  padding: 10px; 
 color: #000000;
}




/* Styles for the four-column section */
.four-column-section3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10rem;
  margin-right: 10rem;
  padding-top: 8rem;
}

/* Styles for the individual columns */
.four-column-section3 .column2, .column3, .column4 {
  flex: 1;
  height: 30rem;
  margin: 0 1px; 
  display: flex;
  flex-direction: column;
}

/* Styles for the content with box background */
.four-column-section3 .content2, .content3{
  background-color: rgb(233, 233, 233);
  padding: 10px; 
  height: 20rem;
}


.four-column-section3 .column1{
  flex: 1;
  height: 25rem;
  margin: 0 1px; 
  display: flex;
  flex-direction: column;
}


.four-column-section3 .content4 {
  
  background-size: cover; 
  background-position: center;
  height: 20rem; 
  padding: 10px; 
}


.four-column-section3 .link-text a{
  margin-top: auto; 
  padding: 10px; 
 color: #000000;
}






.four-column-section4{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: -8rem;
}


.four-column-section4 .column2, .column3, .column4 {
  flex: 1;
  height: 25rem;
  margin: 0 1px; 
  display: flex;
  flex-direction: column;
}


.four-column-section4 .content4, .content3{
  background-color: rgb(233, 233, 233);
  padding: 10px; 
  height: 20rem;
}


.four-column-section4 .column1{
  flex: 1;
  height: 25rem;
  margin: 0 1px; 
  display: flex;
  flex-direction: column;
}
.four-column-section4 .content1{
  background-image: url('images/product-1.png');
  background-size: cover; 
  background-position: center; 
  height: 20rem; 
  padding: 10px; 
}
.four-column-section4 .column2{
  flex: 1;
  height: 30rem;
  margin: 0 1px;
  display: flex;
  flex-direction: column;
}
.four-column-section4 .content2 {
  background-image: url('images/Group_1124587.png'); 
  background-size: cover; 
  background-position: center; 
  height: 30rem; 
  padding: 10px; 
}

/* Styles for the link text */
.four-column-section4 .link-text a{
  margin-top: auto; 
  padding: 10px; 
  color: #000000;
}










/* Styles for the four-column section */
.four-column-section5 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10rem;
  margin-right: 10rem;
}


.four-column-section5 .column2, .column4 {
  flex: 1;
  height: 26rem;
  margin: 0 1px; 
  display: flex;
  flex-direction: column;
}


.four-column-section5 .content2{
  background-color: rgb(233, 233, 233);
  padding: 10px; 
  height: 22rem;
}


.four-column-section5 .column1{
  flex: 1;
  height: 26rem;
  margin: 0 1px; 
  display: flex;
  flex-direction: column;
}
.four-column-section5 .content1{
  background-image: url('images/product-1s.png'); 
  background-size: cover; 
  background-position: center;
  height: 27rem; 
  padding: 10px; 
}

.four-column-section5 .content4 {
  background-image: url('images/gel-nails4.png'); 
  background-size: cover; 
  background-position: center; 
  height: 25rem; 
  padding: 10px; 
}

/* Styles for the link text */
.four-column-section5 .link-text a{
  margin-top: auto; 
  padding: 10px; 
color: #000000;
}

.four-column-section5 .column3{
  flex: 1;
  height: 27rem;
  margin: 0 1px; 
  display: flex;
  flex-direction: column;
}
.four-column-section5 .content3{
  background-image: url('images/gel-nailsgroup1.png'); 
  background-size: cover; 
  background-position: center; 
  height: 27rem;
  padding: 10px; 
}





/* Styles for the four-column section */
.four-column-section6 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10rem;
  margin-right: 10rem;
}


.four-column-section6 .column2, .column4 , .column1 {
  flex: 1;
  height: 26rem;
  margin: 0 1px; 
  display: flex;
  flex-direction: column;
}

.four-column-section6 .content1,.content2,.content4{
  background-color: rgb(233, 233, 233);
  padding: 10px; 
  height: 22rem;
}


.four-column-section6 .column3{
  flex: 1;
  height: 31rem;
  margin: 0 1px; 
  display: flex;
  flex-direction: column;
}
.four-column-section6 .content3{
  background-image: url('images/hbeu50486268_001_100.webp'); 
  background-size: cover; 
  background-position: center; 
  height: 30rem;
  padding: 10px; 
}
/* Styles for the link text */
.four-column-section6 .link-text a{
  margin-top: auto;
  padding: 10px; 
 color: #050505;

}




/* Styles for the four-column section */
.four-column-section7 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10rem;
  margin-right: 10rem;
}


.four-column-section7 .column1, .column2, .column3, .column4 {
  flex: 1;
  height: 30rem;
  margin: 0 1px; 
  display: flex;
  flex-direction: column;
}

.four-column-section7 .content2, .content3,.content1{
  background-color: rgb(233, 233, 233);
  padding: 10px; 
  height: 20rem;
}



.four-column-section7 .content4 {
  background-image: url('images/Group_1124585_1.png'); 
  background-size: cover; 
  background-position: center; 
  height: 25rem; 
  padding: 10px; 
}






.four-column-section7 .link-text a{
  margin-top: auto; 
  padding: 10px; 
 color: #050505;


}



@media screen and (max-width: 768px) {
  .four-column-section1 {
      margin-left: 2rem; 
      margin-right: 2rem; 
      display: block;
      padding-bottom: 5rem;
  }

  .four-column-section1 .column1, .column2, .column3, .column4 {
      margin: 0; 
  }

  .four-column-section1 .column1, .column2, .column3, .column4 {
      height: auto; /
  }
  .four-column-section1 .column3 {
   margin-top: -8rem;
  
}
}

@media screen and (max-width: 768px) {
  .four-column-section2 {
      margin-left: 2rem; 
      margin-right: 2rem; 
      display: block;
      padding-bottom: 5rem;
  }

  .four-column-section2 .column1, .column2, .column3, .column4 {
    margin: 0; 
    height: auto;
   
}

.four-column-section2 .column4 {
    
    padding-top: 10px;
}

}
@media screen and (max-width: 768px) {
  .four-column-section3 {
      margin-left: 2rem; 
      margin-right: 2rem; 
      display: block;
      padding-bottom: 10rem;
    
  }


  .four-column-section3 .column3 {
    margin-top: -8rem;
    margin-bottom: 1rem;
}

.four-column-section3 .column2 {
  margin-top: -3rem;
}}

@media screen and (max-width: 768px) {
  .four-column-section4 {
      margin-left: 2rem; 
      margin-right: 2rem; 
      display: block;
      padding-bottom: 5rem;
    
  }
}

@media screen and (max-width: 768px) {
  .four-column-section5, .four-column-section6,.four-column-section7,.four-column-section4 {
      margin-left: 2rem;
      margin-right: 2rem; 
      display: block;
      padding-bottom: 5rem;
    
  }
}




@media screen and (max-width: 768px) {
  .four-column-section4 {
      margin-left: 2rem; 
      margin-right: 2rem; 
      display: block;
      padding-bottom: 5rem;
    
  }
  .four-column-section4 .column4 {
    
    padding-top: 10px;

  }

}

@media screen and (max-width: 768px) {
  .four-column-section7 {
      margin-left: 2rem; 
      margin-right: 2rem; 
      display: block;
      padding-bottom: 5rem;
    
    
  }
  .four-column-section7 .column3, .column4 {
    
    padding-top: 1rem;

  }
  .fourpa-column-section7 .column1{
    margin-bottom: -5rem;
   
  }

}

@media screen and (max-width: 768px) {
  .four-column-section5, .four-column-section6{
      margin-left: 2rem; 
      margin-right: 2rem; 
      display: block;
    
    
  }
}


.headtext h1{
  justify-content: center;
  text-align: center;
  padding-top: 7rem;
  font-size: 3em;

}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 3rem;
}

.page-link {
  padding: 10px 15px;
  margin: 0 5px;
  color: white;
  background-color: black;
  text-decoration: none;
  border-radius: 5px;
}

.page-link:hover {
  background-color: #333;
}
